Given below are the time (in minutes) taken by three pizza outlets in Bangalore to deliver pizzas within a radius of 1 KM
Electronics City     MG Road       Whitefield

      29               	32	           25
      27                33	           24
      30              	31	           24
      27             	34	           25
      28           	    30         	26

2. Compare the summary statistics of three outlets. What is your inference? 
3. Perform appropriate hypothesis test to determine whether there is a significant difference in
the delivery time at the given pizza outlets. Use significance level as 0.01 and note that the sample sizes are equal.
a. State your hypotheses 
b. Name the appropriate hypothesis test to be used
C. What is your inference? 


4. Using the HR Dataset, help the HR department analyze the following and decide on further action on employee engagement and benefits program.
a. 10 positions which are paid the least, create a bar plot 
b. Most satisfied and least satisfied department 
C. Which department has highest variation in employee satisfaction 
d. Are Engagement Survey Score and Employee Satisfaction Scores impacted by the
employees' Pay Rate. 


What is your conclusion on the above?

In [3]:
import pandas as pd
import numpy as np

delivery = pd.read_excel('F:\Skillenable\Data frames\pizza delivery.xlsx')

   Electronics City  MG Road  Whitefield
0               NaN      NaN         NaN
1              29.0     32.0        25.0
2              27.0     33.0        24.0
3              30.0     31.0        24.0
4              27.0     34.0        25.0
5              28.0     30.0        26.0

In [2]:
# 1. Compute Mean, Median, Standard deviation, Inter Quartile Range and Range for above data 
delivery.describe()

       Electronics City    MG Road  Whitefield
count           5.00000   5.000000     5.00000
mean           28.20000  32.000000    24.80000
std             1.30384   1.581139     0.83666
min            27.00000  30.000000    24.00000
25%            27.00000  31.000000    24.00000
50%            28.00000  32.000000    25.00000
75%            29.00000  33.000000    25.00000
max            30.00000  34.000000    26.00000

In [4]:
# 2. Compare the summary statistics of three outlets. What is your inference? 

from scipy import stats as st

## let confidence value = 90%, significance level = 0.10
## creating required data set 1

Electronics_city = delivery['Electronics City']
Electronics_city

0     NaN
1    29.0
2    27.0
3    30.0
4    27.0
5    28.0
Name: Electronics City, dtype: float64

In [5]:
## creating required data set 2
MG_road = delivery['MG Road']
MG_road

0     NaN
1    32.0
2    33.0
3    31.0
4    34.0
5    30.0
Name: MG Road, dtype: float64

In [6]:
## creating required data set 3

Whitefield = delivery['Whitefield']
Whitefield

0     NaN
1    25.0
2    24.0
3    24.0
4    25.0
5    26.0
Name: Whitefield, dtype: float64

In [8]:
# perform ANOVA test; 

st.f_oneway(Electronics_city,MG_road,Whitefield)

F_onewayResult(statistic=nan, pvalue=nan)

In [9]:
# 3. Perform appropriate hypothesis test to determine whether there is a significant difference in the delivery time at the given pizza outlets. Use significance level as 0.01 and note that the sample sizes are equal.

st.ttest_ind(Electronics_city, MG_road)

Ttest_indResult(statistic=nan, pvalue=nan)